<h1>Zone 1</h1>

<mat-tab-group>
    <mat-tab label="Live Data">
      <h3>Live Data</h3>

      <div style="display: table; width:100%; table-layout: fixed;">
        <div style="display: table-cell; text-align: center">
          <p>Temperature: {{(this.currentValues.temp && this.currentValues.temp + " °C") || " "}}</p>
        </div>
        <div style="display: table-cell; text-align: center">
          <p>Humidity: {{(this.currentValues.humidity && this.currentValues.humidity + "%") || " "}}</p>
        </div>
        <div style="display: table-cell; text-align: center">
          <p>Light: {{(this.currentValues.light && this.currentValues.light + " Lux") || " "}}</p>
        </div>  
      </div>
      <button mat-raised-button color="primary" class="update" (click)="getData()">Update</button>
    </mat-tab>
    <mat-tab label="History">
      <h3>History</h3>

      <ng-container>
        <mat-table matSort [hidden]="!hasData" [dataSource]="dataTable" class="mat-elevation-z8">
          <!--Header Def-->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; let rIndex = index; columns: displayedColumns;"></mat-row>
          <!--Column Defs-->
          <ng-container matColumnDef="time">
              <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
              <mat-cell *matCellDef="let data"> {{data.time}}</mat-cell>
            </ng-container>
          <ng-container matColumnDef="ID">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let data"> {{data.deviceID}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="temp">
            <mat-header-cell *matHeaderCellDef>Temperature</mat-header-cell>
            <mat-cell *matCellDef="let data"> {{data.temp + " °C"}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="light">
            <mat-header-cell *matHeaderCellDef>Light</mat-header-cell>
            <mat-cell *matCellDef="let data"> {{data.light + " Lux"}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="humidity">
            <mat-header-cell *matHeaderCellDef>Humidity</mat-header-cell>
            <mat-cell *matCellDef="let data"> {{data.humidity + "%"}}</mat-cell>
          </ng-container>
        </mat-table>
        <mat-card style="border-radius: 0; text-align: center" *ngIf="dataTable.data && dataTable.data.length === 0">No records found</mat-card>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </ng-container>
    </mat-tab>
  </mat-tab-group>




