h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

.mat-raised-button {
    width: 110px;
    color: white;
}

.mat-menu-item {
    text-align: center;
}

.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
  }
  
  ul li {
    display: inline;
    margin-right: 30px;
  }