h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

.mat-raised-button {
    margin-left: 5px;
    margin-right: 5px;
    width:23%;
    color: white;
}

.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 0;
}
